.page::after {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px; 
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 35%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none;
  z-index: 5;
}

.page_no-mobile-bar::after {
  display: none;
}

.page_no-mobile-bar .footer {
  position: static;
}


@media screen and (max-width: 768px) {

  .gallery__new-card-btn {
    position: fixed;
    bottom: 80px;
    left: 16px;
    right: 16px;
    width: auto;
    max-width: none;

    display: flex;
    justify-content: center; 
    align-items: center;

    font-weight: 600; 

    z-index: 10; 
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 6; 
  }

  .page {
  padding-bottom: 0;
  margin-bottom: 0;
}

#deck-view .gallery__new-card-btn {
    width: 100%;
    margin-top: 16px;
  }


}